.game {
    background: #09001d;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;
}

.gameplay-center-panel,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 450px;
    padding: 20px 30px;
    border: 2px solid #c40094;
    border-radius: 6px;
}

.gameplay-header {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #c40094;

    font-size: 18px;
}

.question-text {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding: 15px 0;
}

.option-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.option {
    cursor: pointer;
    font-size: 20px;
    width: 280px;
    padding: 1em;
    margin: 7px auto;
    text-align: left;
    outline: none;
    background: transparent;
    border: 2px solid rgba(196, 0, 148, 0.4);
    border-radius: 0.3em;

    color: white;
    font-weight: 700;

    transition: 0.3s;
}

.option:hover {
    background: rgba(255, 255, 255, 0.2);
}

.gameplay-footer,
.result-footer {
    font-size: 18px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    border-top: 2px solid #c40094;
    padding-top: 15px;
}

.footer-btn {
    width: 100px;
    height: 45px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    font-size: 16px;

    color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);

}

.footer-btn.active {
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
}

.footer-btn.active:hover {
    color: white;
    background: #950170;
    border-color: #950170;
}

.result-box h2 {
    font-size: 50px;
    text-align: center;
}

.result-box h3 {
    font-size: 40px;
    color: #950170;
    text-align: center;
    margin: 30px;
}

.incorrect {
    border-color: #ff0707;
    color: #ff0707;
}

.correct {
    border-color: #689f38;
    color: #689f38;
}

.question {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown img {
    width: 60px;
    height: 60px;
    filter: invert(.5) sepia(38) saturate(100) hue-rotate(315deg);
}

.countdown div {
    font-size: 55px;
    color: rgb(235,0,158);
}